<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.theymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入职欢迎邮件</title>
</head>
<body>

<p>Information for New Register</p>

<p>新员工入职须知</p>

<p>Dear Sir or Madam:</p>

<p>尊敬的<span th:text="${name}"></span>先生：</p>

<p>Congratulations and welcome to xxx! Please prepare the following document as required and hand them in HR office.</p>

<p>恭喜您并欢迎您加入麻豆传媒映画！请您准备好以下入职所需资料：</p>

<p>1.Termination Letter Issued by Ex-Employer</p>

<p>原单位离职证明</p>

<p>2. Record of Health Check - up</p>

<p>健康证及培训证 (有效期不少于半年。如无，请到区级以上疾病预防控制中心进行体检) </p>

<p>3. 4 copies of ID Card and 3 copies of Hukou</p>

<p>四张身份证明复印件(正反面均须复印)及三张户口本复印件(户口本首页及本人页)  </p>

<p>4. A copy of Education Certificate</p>

<p>学历证明复印件</p>

<p>5. Eight 1-inch colored photos &amp; electronic photo</p>

<p>八张一寸白底彩色照片及电子版照片（请将中文名与部门写于照片背面）</p>

<p>6. A copy of BCM Debit Card</p>

<p>交通银行借记卡复印件</p>

<p>Note: Please use A4 paper to copy. And please sign your Chinese name in block letters in the blank space。
  <br>  注意：所有复印件请使用A4 纸，并请在复印件空白处用正楷签写您的中文姓名</p>
</body>
</html>