# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\OA\yeb-master\yeb-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
